.section-label {
    position: relative;
    width: fit-content;
    padding: 0 10px;
    margin: 10px 0;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        background: yellow;
        z-index: 0;
        left: 0;
    }
    span {
        position: relative;
        z-index: 1;
    }
}

/*-----whatsapp pluging------*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

#whatsapp.active .btn-container .label {
    animation-name: fadeOutDown;
}

#whatsapp.active .btn-container .icon-container::before {
    animation-name: wtp_animation-before;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}

#whatsapp.active .btn-container .icon-container::after {
    animation-name: wtp_animation-after;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#whatsapp.active .wtp-container {
    display: block;
    animation-name: fadeInUp;
}

#whatsapp.active .wtp-container .wtp-body .item {
    animation-name: fadeInLeft;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(1n) {
    animation-delay: 0.08s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(2n) {
    animation-delay: 0.16s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(3n) {
    animation-delay: 0.24s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(4n) {
    animation-delay: 0.32s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(5n) {
    animation-delay: 0.4s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(6n) {
    animation-delay: 0.48s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(7n) {
    animation-delay: 0.56s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(8n) {
    animation-delay: 0.64s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(9n) {
    animation-delay: 0.72s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(10n) {
    animation-delay: 0.8s;
}

#whatsapp .btn-container {
    display: flex;
    align-items: center;
}

#whatsapp .btn-container .label {
    width: fit-content;
    height: fit-content;
    padding: 4px 10px;
    background: #f5f7f9;
    margin-right: 4px;
    margin-top: -40px;
    border-radius: 4px;
    box-shadow: 0 4px 8px #ccc;
    animation-name: fadeInUp;
}

#whatsapp .btn-container .icon-container {
    background: #2db742;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0 4px 8px #ccc;
    position: relative;
    overflow: hidden;
}

#whatsapp .btn-container .icon-container::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    background-image: url("https://ik.imagekit.io/medamineck/Images/svgexport-1_FXJ3AnYpl.png?updatedAt=1632243566062");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2db742;
}

#whatsapp .btn-container .icon-container::after {
    content: "";
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://ik.imagekit.io/medamineck/Images/wtp_icon_Gw5rdmIyW.png?updatedAt=1632243643975");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2db742;
    background-size: contain;
}

#whatsapp .wtp-container {
    display: none;
    width: 90vw;
    max-width: 400px;
    position: absolute;
    right: 0;
    background: #fff;
    bottom: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

#whatsapp .wtp-container .wtp-header {
    background: #2db742;
    display: flex;
    height: 100px;
    direction: rtl;
}

#whatsapp .wtp-container .wtp-header .instructions {
    text-align: left;
    padding: 10px;
}

#whatsapp .wtp-container .wtp-header .instructions p.h1 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

#whatsapp .wtp-container .wtp-header .instructions p.sub {
    color: #fff;
    opacity: 0.8;
    line-height: 18px;
    font-size: 12px;
}

#whatsapp .wtp-container .wtp-header .icon-container {
    width: 100px;
    height: 100%;
}

#whatsapp .wtp-container .wtp-header .icon-container span {
    font-size: 45px;
    color: #fff;
}

#whatsapp .wtp-container .wtp-body {
    padding: 20px;
}

#whatsapp .wtp-container .wtp-body p.header {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 20px;
}

#whatsapp .wtp-container .wtp-body .item {
    display: flex;
    background: #f5f7f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border-left: 2px solid #2db742;
    cursor: pointer;
    transition: box-shadow linear 0.2s;
    box-shadow: 0 0 0 #ccc;
}

#whatsapp .wtp-container .wtp-body .item:hover {
    box-shadow: 2px 4px 10px #ccc;
}

#whatsapp .wtp-container .wtp-body .item .logo-container {
    max-width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 10px;
    border: 2px solid #2db742;
    overflow: hidden;
}

#whatsapp .wtp-container .wtp-body .item .logo-container img {
    max-width: 100%;
    max-height: 100%;
}

#whatsapp .wtp-container .wtp-body .item .content {
    width: 100%;
}

#whatsapp .wtp-container .wtp-body .item .content p.name {
    margin-top: 4px;
    opacity: 0.8;
}

#whatsapp .wtp-container .wtp-body .item .content p.sub {
    font-size: 12px;
    opacity: 0.4;
    margin-top: 4px;
    letter-spacing: 2px;
}

#whatsapp .wtp-container .wtp-body .item .icon-container span {
    color: #2db742;
}

@keyframes wtp_animation-before {
    0% {
        transform: translate(-50%, -50%) rotate(0);
        visibility: hidden;
    }

    to {
        transform: translate(-50%, -50%) rotate(180deg);
        visibility: visible;
    }
}

@keyframes wtp_animation-after {
    0% {
        transform: translate(-50%, -50%) rotate(0) scale(1);
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
        opacity: 0;
    }
}

.animate__animated {
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

//social medias
.socila_media {
    position: fixed;
    top: 200px;
    left: -85px;
    z-index: 9999;
}

.socila_media .item {
    width: 120px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 4px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    border-radius: 0 22px 22px 0;
}

.socila_media .item.youtube {
    background: #e4405f;
}

.socila_media .item:hover {
    -webkit-transform: translateX(85px);
    transform: translateX(85px);
}

.socila_media .item span {
    color: #fff;
}

.socila_media .item .icon {
    width: 35px;
    height: 35px;
    padding: 4px;
    border-radius: 35px;
    overflow: hidden;
}

.socila_media .item .icon img {
    max-width: 100%;
    max-height: 100%;
}

.socila_media .item.facebook {
    background: #1877f2;
}

.socila_media .item.whatsapp {
    background: #25d366;
}

.socila_media .item.pinterest {
    background: #bd081c;
}

.socila_media .item.linkedin {
    background: #0077b5;
}

//winds
ul.winds {
    display: flex;
    list-style: none;
    position: absolute;
    top: $header-height;
    left: 0;
    li {
        width: 20px;
        height: 20px;
        border-radius: 0 0 20px 20px;
        background: #cecece;
        box-shadow: 0px 3px 9px #00000078;
        &:nth-child(2n) {
            background: #dbc2a7;
        }
    }
}
