@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hide {
  display: none;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #2e43ff;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body,
.scroll {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #263238e8;
}

.animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

button {
  padding: 10px 20px;
  background-color: #4c6fff;
  color: #fff;
  font-size: 14px;
}

.section-label {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  margin: 10px 0;
}

.section-label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background: yellow;
  z-index: 0;
  left: 0;
}

.section-label span {
  position: relative;
  z-index: 1;
}

/*-----whatsapp pluging------*/
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#whatsapp.active .btn-container .label {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}

#whatsapp.active .btn-container .icon-container::before {
  -webkit-animation-name: wtp_animation-before;
          animation-name: wtp_animation-before;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#whatsapp.active .btn-container .icon-container::after {
  -webkit-animation-name: wtp_animation-after;
          animation-name: wtp_animation-after;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#whatsapp.active .wtp-container {
  display: block;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

#whatsapp.active .wtp-container .wtp-body .item {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(1n) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(2n) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(3n) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(4n) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(5n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(6n) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(7n) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(8n) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(9n) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(10n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#whatsapp .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whatsapp .btn-container .label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 10px;
  background: #f5f7f9;
  margin-right: 4px;
  margin-top: -40px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px #ccc;
          box-shadow: 0 4px 8px #ccc;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

#whatsapp .btn-container .icon-container {
  background: #2db742;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0 4px 8px #ccc;
          box-shadow: 0 4px 8px #ccc;
  position: relative;
  overflow: hidden;
}

#whatsapp .btn-container .icon-container::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  background-image: url("https://ik.imagekit.io/medamineck/Images/svgexport-1_FXJ3AnYpl.png?updatedAt=1632243566062");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2db742;
}

#whatsapp .btn-container .icon-container::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("https://ik.imagekit.io/medamineck/Images/wtp_icon_Gw5rdmIyW.png?updatedAt=1632243643975");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2db742;
  background-size: contain;
}

#whatsapp .wtp-container {
  display: none;
  width: 90vw;
  max-width: 400px;
  position: absolute;
  right: 0;
  background: #fff;
  bottom: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

#whatsapp .wtp-container .wtp-header {
  background: #2db742;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  direction: rtl;
}

#whatsapp .wtp-container .wtp-header .instructions {
  text-align: left;
  padding: 10px;
}

#whatsapp .wtp-container .wtp-header .instructions p.h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

#whatsapp .wtp-container .wtp-header .instructions p.sub {
  color: #fff;
  opacity: 0.8;
  line-height: 18px;
  font-size: 12px;
}

#whatsapp .wtp-container .wtp-header .icon-container {
  width: 100px;
  height: 100%;
}

#whatsapp .wtp-container .wtp-header .icon-container span {
  font-size: 45px;
  color: #fff;
}

#whatsapp .wtp-container .wtp-body {
  padding: 20px;
}

#whatsapp .wtp-container .wtp-body p.header {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 20px;
}

#whatsapp .wtp-container .wtp-body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f7f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border-left: 2px solid #2db742;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow linear 0.2s;
  transition: -webkit-box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
  -webkit-box-shadow: 0 0 0 #ccc;
          box-shadow: 0 0 0 #ccc;
}

#whatsapp .wtp-container .wtp-body .item:hover {
  -webkit-box-shadow: 2px 4px 10px #ccc;
          box-shadow: 2px 4px 10px #ccc;
}

#whatsapp .wtp-container .wtp-body .item .logo-container {
  max-width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 10px;
  border: 2px solid #2db742;
  overflow: hidden;
}

#whatsapp .wtp-container .wtp-body .item .logo-container img {
  max-width: 100%;
  max-height: 100%;
}

#whatsapp .wtp-container .wtp-body .item .content {
  width: 100%;
}

#whatsapp .wtp-container .wtp-body .item .content p.name {
  margin-top: 4px;
  opacity: 0.8;
}

#whatsapp .wtp-container .wtp-body .item .content p.sub {
  font-size: 12px;
  opacity: 0.4;
  margin-top: 4px;
  letter-spacing: 2px;
}

#whatsapp .wtp-container .wtp-body .item .icon-container span {
  color: #2db742;
}

@-webkit-keyframes wtp_animation-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
    visibility: hidden;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
    visibility: visible;
  }
}

@keyframes wtp_animation-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
    visibility: hidden;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
    visibility: visible;
  }
}

@-webkit-keyframes wtp_animation-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
            transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
            transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
            transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
    opacity: 0;
  }
}

@keyframes wtp_animation-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
            transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
            transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
            transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
    opacity: 0;
  }
}

.animate__animated {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.socila_media {
  position: fixed;
  top: 200px;
  left: -85px;
  z-index: 9999;
}

.socila_media .item {
  width: 120px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  border-radius: 0 22px 22px 0;
}

.socila_media .item.youtube {
  background: #e4405f;
}

.socila_media .item:hover {
  -webkit-transform: translateX(85px);
  transform: translateX(85px);
}

.socila_media .item span {
  color: #fff;
}

.socila_media .item .icon {
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 35px;
  overflow: hidden;
}

.socila_media .item .icon img {
  max-width: 100%;
  max-height: 100%;
}

.socila_media .item.facebook {
  background: #1877f2;
}

.socila_media .item.whatsapp {
  background: #25d366;
}

.socila_media .item.pinterest {
  background: #bd081c;
}

.socila_media .item.linkedin {
  background: #0077b5;
}

header {
  background: #fefdff;
  width: 100%;
  max-width: 500px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-shadow: 0px 6px 12px 0px #cccccc47;
          box-shadow: 0px 6px 12px 0px #cccccc47;
}

header .notice-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .notice-bar .logo img {
  width: 80px;
}

header .notice-bar .contact-info {
  padding-right: 50px;
}

header .notice-bar .contact-info .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .notice-bar .contact-info .flex-container .icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #6d6d6d;
  color: #fff;
  margin-right: 5px;
}

header .notice-bar .contact-info .flex-container .icon span {
  font-size: 14px;
}

header .notice-bar .contact-info span.sub {
  font-size: 8px;
}

header nav {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  background-image: url("../../img/bg-svg.svg");
}

header nav::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff6b;
}

@supports ((-webkit-backdrop-filter: blur(24px)) or (backdrop-filter: blur(24px))) {
  header nav {
    background: #bcd9de4d;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }
}

header nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  margin-bottom: 40px;
}

header nav ul li a {
  margin-bottom: 35px;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-size: 24px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

header nav ul li a:active {
  background-color: black;
}

header nav ul li a:hover {
  cursor: pointer;
  opacity: 1;
}

header nav ul li a.active {
  opacity: 1;
  font-weight: bolder;
  color: black;
  font-size: 24px;
}

header nav ul li a.active::after, header nav ul li a.active::before {
  display: inline-block;
}

header nav ul li a.active::before {
  content: "--> ";
}

header nav ul li.contact_us {
  width: 100vw;
  margin-top: 200px;
  position: relative;
}

header nav ul li.contact_us::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #263238e8;
  position: absolute;
  top: 30px;
  z-index: 1;
}

header nav ul li.contact_us a {
  width: 150px;
  height: 60px;
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 2;
  background: #263238e8;
  padding: 0 10px;
  border-radius: 60px;
  margin: 0 auto;
  opacity: 1;
}

header .nav_tab_icon {
  width: 20px;
  height: 40px;
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .nav_tab_icon .item {
  height: 4px;
  border-radius: 4px;
  background-color: #263238e8;
  margin-bottom: 4px;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

header .nav_tab_icon .item:nth-child(1) {
  width: 100%;
}

header .nav_tab_icon .item:nth-child(2) {
  width: 60%;
}

header .nav_tab_icon .item:nth-child(3) {
  width: 30%;
}

header .nav_tab_icon.open .item {
  height: 5px;
  border-radius: 5px;
  background-color: #263238e8;
  margin-bottom: 6px;
}

header .nav_tab_icon.open .item:nth-child(1) {
  width: 100%;
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

header .nav_tab_icon.open .item:nth-child(2) {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .nav_tab_icon.open .item:nth-child(3) {
  display: none;
}

footer {
  background: #000;
}

footer .footer-top {
  background: #18171f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

footer .footer-top h3 {
  color: #fff;
  opacity: 0.4;
}

footer .footer-top .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .social-medias .icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #c4c4c4;
  margin-right: 10px;
}

footer .footer-midle {
  background: #27262e;
  padding: 20px 10px;
}

footer .footer-midle .label {
  text-align: center;
  color: #fff;
  font-size: 14;
  margin-bottom: 10px;
  opacity: 0.8;
}

footer .footer-midle .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-midle .links a {
  color: #fff;
  opacity: 0.6;
  font-size: 14px;
}

footer .custom-hr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

footer .footer-bottom {
  background: #020423;
  font-size: 10px;
  color: #fff;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #dbdbdc;
}

body main {
  background: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

body main section.cover .swiper {
  width: 100%;
  height: 400px;
}

body main section.cover .swiper .swiper-button-prev,
body main section.cover .swiper .swiper-button-next {
  color: #fff;
}

body main section.cover .swiper .swiper-pagination-bullet {
  background: #ccc;
}

body main section.cover .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

body main section.cover .swiper .swiper-slide {
  width: 100%;
  background-size: cover;
}

body main section.cover .swiper .swiper-slide.slide_1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 0, 255, 0.251)), to(rgba(255, 225, 0, 0.415))), url(../../img/swiper/cover.jpg);
  background-image: linear-gradient(rgba(51, 0, 255, 0.251), rgba(255, 225, 0, 0.415)), url(../../img/swiper/cover.jpg);
}

body main section.cover .swiper .swiper-slide.slide_2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 0, 255, 0.251)), to(rgba(255, 225, 0, 0.415))), url(../../img/swiper/img-2.jpeg);
  background-image: linear-gradient(rgba(51, 0, 255, 0.251), rgba(255, 225, 0, 0.415)), url(../../img/swiper/img-2.jpeg);
}

body main section.cover .swiper .swiper-slide.slide_3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 0, 255, 0.251)), to(rgba(255, 225, 0, 0.415))), url(../../img/swiper/img-3.jpeg);
  background-image: linear-gradient(rgba(51, 0, 255, 0.251), rgba(255, 225, 0, 0.415)), url(../../img/swiper/img-3.jpeg);
}

body main section.cover .swiper .swiper-slide .main-text {
  width: 300px;
  margin: 50px auto;
  background: orange;
  padding: 10px;
}

body main section.cover .swiper .swiper-slide p.sub {
  width: 300px;
  margin: 50px auto;
  background: #ddff00;
  padding: 10px;
}

body main section.cover .swiper .swiper-slide button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

body main section.cover .swiper .swiper-slide button span {
  margin-right: 10px;
}

body main section.journey {
  padding: 10px;
  background-color: rgba(255, 225, 0, 0.415);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

body main section.journey .scroll-icon {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body main section.categories .card-ui {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  padding: 10px;
  margin: 20px auto;
}

body main section.categories .card-ui .images {
  position: relative;
}

body main section.categories .card-ui .images .thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

body main section.categories .card-ui .images .thumbnail img {
  max-width: 100%;
}

body main section.categories .card-ui .images .other-images {
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 12px;
}

body main section.categories .card-ui .images .other-images .item {
  overflow: hidden;
  border-radius: 12px;
  opacity: 0.6;
  margin: 5px;
}

body main section.categories .card-ui .images .other-images .item.active {
  opacity: 1;
}

body main section.categories .card-ui .images .other-images .item img {
  max-width: 40px;
  height: 40px;
}

body main section.categories .card-ui .titel {
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 180px;
  left: 20px;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
}

body main section.categories .card-ui .sub {
  font-size: 14px;
  padding: 10px;
  opacity: 0.8;
}

body main section.categories .card-ui button {
  margin-left: 10px;
}

body main section.highlight {
  padding: 10px;
}

body main section.highlight .section-label {
  position: relative;
  left: -10px;
}

body main section.highlight.fabric, body main section.highlight.testimonial {
  background: #f6f6f6;
}

body main section.highlight.mesure {
  background: -webkit-gradient(linear, left top, left bottom, from(#0074b6), to(rgba(0, 116, 182, 0)));
  background: linear-gradient(180deg, #0074b6 0%, rgba(0, 116, 182, 0) 100%);
}

body main section.highlight h3 {
  font-size: 14px;
}

body main section.highlight p {
  font-size: 12px;
  opacity: 0.8;
  margin: 10px 0;
  letter-spacing: 1.2px;
}

body main section.highlight .img-container {
  width: 100%;
  margin-bottom: 10px;
}

body main section.highlight .img-container img {
  max-width: 100%;
}

body main section.gallery {
  width: 100%;
  margin-bottom: 20px;
}

body main section.gallery .swiper {
  width: 100%;
}

body main section.gallery .swiper .swiper-slide {
  margin: 0 20px;
}

body main section.gallery .img-item {
  width: 200px;
  height: 150px;
  border: 1px solid yellow;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto;
}

body main section.gallery .img-item .img-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

body main section.gallery .img-item .img-container img {
  max-width: 100%;
}

body main section.gallery .img-item .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

body main section.gallery .img-item .sub span.date {
  opacity: 0.6;
}

body main section.testimonial .comment-card {
  width: 300px;
  margin: 0 auto;
  background-color: #e0e9eb;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

body main section.testimonial .comment-card .ratting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main section.testimonial .comment-card .ratting .icons {
  margin-right: 10px;
}

body main section.testimonial .comment-card .ratting .icons span {
  color: orange;
}

body main section.testimonial .comment-card .quote-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

body main section.testimonial .comment-card .quote-icon span {
  font-size: 65px;
  opacity: 0.1;
}

body main section.testimonial .comment-card .commenter {
  text-align: center;
}

body main section.contact_us {
  padding: 10px;
}

body main section.contact_us h3 {
  text-align: center;
  margin: 20px auto;
}

body main section.contact_us p {
  font-size: 12px;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 20px;
}

body main section.contact_us .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

body main section.contact_us .contact-item .icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

body main section.contact_us .contact-item .icon span {
  font-size: 18px;
}

body main section.contact_us .contact-item .container .label {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  opacity: 0.4;
}

body main section.contact_us .map {
  width: 300px;
  margin: 0 auto;
}

body main section.contact_us .map img {
  max-width: 100%;
}

body main section.brands .img-container {
  width: 350px;
  margin: 20px auto;
}

body main section.brands .img-container img {
  max-width: 100%;
}
/*# sourceMappingURL=home.css.map */