@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hide {
  display: none;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #2e43ff;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body,
.scroll {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #263238e8;
}

.section-label {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  margin: 10px 0;
}

.section-label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background: yellow;
  z-index: 0;
  left: 0;
}

.section-label span {
  position: relative;
  z-index: 1;
}

/*-----whatsapp pluging------*/
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

#whatsapp.active .btn-container .label {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}

#whatsapp.active .btn-container .icon-container::before {
  -webkit-animation-name: wtp_animation-before;
          animation-name: wtp_animation-before;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#whatsapp.active .btn-container .icon-container::after {
  -webkit-animation-name: wtp_animation-after;
          animation-name: wtp_animation-after;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#whatsapp.active .wtp-container {
  display: block;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

#whatsapp.active .wtp-container .wtp-body .item {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(1n) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(2n) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(3n) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(4n) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(5n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(6n) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(7n) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(8n) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(9n) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

#whatsapp.active .wtp-container .wtp-body .item:nth-child(10n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#whatsapp .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whatsapp .btn-container .label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 10px;
  background: #f5f7f9;
  margin-right: 4px;
  margin-top: -40px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px #ccc;
          box-shadow: 0 4px 8px #ccc;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

#whatsapp .btn-container .icon-container {
  background: #2db742;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0 4px 8px #ccc;
          box-shadow: 0 4px 8px #ccc;
  position: relative;
  overflow: hidden;
}

#whatsapp .btn-container .icon-container::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  background-image: url("https://ik.imagekit.io/medamineck/Images/svgexport-1_FXJ3AnYpl.png?updatedAt=1632243566062");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2db742;
}

#whatsapp .btn-container .icon-container::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("https://ik.imagekit.io/medamineck/Images/wtp_icon_Gw5rdmIyW.png?updatedAt=1632243643975");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2db742;
  background-size: contain;
}

#whatsapp .wtp-container {
  display: none;
  width: 90vw;
  max-width: 400px;
  position: absolute;
  right: 0;
  background: #fff;
  bottom: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

#whatsapp .wtp-container .wtp-header {
  background: #2db742;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  direction: rtl;
}

#whatsapp .wtp-container .wtp-header .instructions {
  text-align: left;
  padding: 10px;
}

#whatsapp .wtp-container .wtp-header .instructions p.h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

#whatsapp .wtp-container .wtp-header .instructions p.sub {
  color: #fff;
  opacity: 0.8;
  line-height: 18px;
  font-size: 12px;
}

#whatsapp .wtp-container .wtp-header .icon-container {
  width: 100px;
  height: 100%;
}

#whatsapp .wtp-container .wtp-header .icon-container span {
  font-size: 45px;
  color: #fff;
}

#whatsapp .wtp-container .wtp-body {
  padding: 20px;
}

#whatsapp .wtp-container .wtp-body p.header {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 20px;
}

#whatsapp .wtp-container .wtp-body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f7f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border-left: 2px solid #2db742;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow linear 0.2s;
  transition: -webkit-box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
  -webkit-box-shadow: 0 0 0 #ccc;
          box-shadow: 0 0 0 #ccc;
}

#whatsapp .wtp-container .wtp-body .item:hover {
  -webkit-box-shadow: 2px 4px 10px #ccc;
          box-shadow: 2px 4px 10px #ccc;
}

#whatsapp .wtp-container .wtp-body .item .logo-container {
  max-width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 10px;
  border: 2px solid #2db742;
  overflow: hidden;
}

#whatsapp .wtp-container .wtp-body .item .logo-container img {
  max-width: 100%;
  max-height: 100%;
}

#whatsapp .wtp-container .wtp-body .item .content {
  width: 100%;
}

#whatsapp .wtp-container .wtp-body .item .content p.name {
  margin-top: 4px;
  opacity: 0.8;
}

#whatsapp .wtp-container .wtp-body .item .content p.sub {
  font-size: 12px;
  opacity: 0.4;
  margin-top: 4px;
  letter-spacing: 2px;
}

#whatsapp .wtp-container .wtp-body .item .icon-container span {
  color: #2db742;
}

@-webkit-keyframes wtp_animation-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
    visibility: hidden;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
    visibility: visible;
  }
}

@keyframes wtp_animation-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
    visibility: hidden;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
    visibility: visible;
  }
}

@-webkit-keyframes wtp_animation-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
            transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
            transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
            transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
    opacity: 0;
  }
}

@keyframes wtp_animation-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(1);
            transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
            transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
            transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
    opacity: 0;
  }
}

.animate__animated {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.socila_media {
  position: fixed;
  top: 200px;
  left: -85px;
  z-index: 9999;
}

.socila_media .item {
  width: 120px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  border-radius: 0 22px 22px 0;
}

.socila_media .item.youtube {
  background: #e4405f;
}

.socila_media .item:hover {
  -webkit-transform: translateX(85px);
  transform: translateX(85px);
}

.socila_media .item span {
  color: #fff;
}

.socila_media .item .icon {
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 35px;
  overflow: hidden;
}

.socila_media .item .icon img {
  max-width: 100%;
  max-height: 100%;
}

.socila_media .item.facebook {
  background: #1877f2;
}

.socila_media .item.whatsapp {
  background: #25d366;
}

.socila_media .item.pinterest {
  background: #bd081c;
}

.socila_media .item.linkedin {
  background: #0077b5;
}

section.contact_us {
  width: 80%;
  margin: 0 auto;
}

section.contact_us h1 {
  text-align: center;
}

section.contact_us .main_contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.contact_us .main_contact_container .right,
section.contact_us .main_contact_container .left {
  width: 100%;
  padding: 20px 60px;
}

section.contact_us .main_contact_container .left p.sub_hint {
  margin-top: 35px;
  margin-bottom: 60px;
}

section.main-video {
  width: 80%;
}

section.ui-card {
  width: 1000px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #f9f9f9;
  background-color: #ffffff;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video titel" "video description" "video btns";
}

section.ui-card .main-video {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: video;
  width: 400px;
  height: 300px;
  margin: 20px;
}

section.ui-card h2.sub_label {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: titel;
}

section.ui-card p.description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: description;
}

section.ui-card .btns {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: btns;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

section.ui-card .btns .btn {
  width: 120px;
  height: 35px;
  border-radius: 4px;
}

section.ui-card .btns .btn.contact_us {
  margin-right: 20px;
  color: #fff;
  background: #8e2de2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4a00e0), to(#8e2de2));
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  background: #fefdff;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  -webkit-box-shadow: 0px 6px 12px 0px #cccccc47;
          box-shadow: 0px 6px 12px 0px #cccccc47;
}

header.active {
  border-radius: 0 0 100px 100px;
}

header nav {
  width: calc(50% - -60px);
}

header nav ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul .main-menu li {
  margin-right: 20px;
}

header nav ul .main-menu li a {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-size: 16px;
}

header nav ul .main-menu li a:hover {
  cursor: pointer;
  opacity: 1;
}

header nav ul .main-menu li a.active {
  color: black;
  opacity: 1;
  font-weight: bold;
  font-size: 18px;
}

header nav ul .main-menu li a.active::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #180afb;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header nav ul li.contact_us {
  background: #263238e8;
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  display: -ms-grid;
  display: grid;
  width: 120px;
  height: 35px;
  border-radius: 35px;
  padding: 0 10px;
}

header nav ul li.contact_us a {
  color: #fff;
  font-size: 16px;
  place-self: center;
}

header .nav_tab_icon {
  display: none;
}

footer {
  background: #000;
}

footer .footer-top {
  background: #18171f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

footer .footer-top h3 {
  color: #fff;
  opacity: 0.4;
}

footer .footer-top .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .social-medias .icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #c4c4c4;
  margin-right: 10px;
}

footer .footer-midle {
  background: #27262e;
  padding: 20px 10px;
}

footer .footer-midle .label {
  text-align: center;
  color: #fff;
  font-size: 14;
  margin-bottom: 10px;
  opacity: 0.8;
}

footer .footer-midle .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-midle .links a {
  color: #fff;
  opacity: 0.6;
  font-size: 14px;
}

footer .custom-hr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

footer .footer-bottom {
  background: #020423;
  font-size: 10px;
  color: #fff;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  background-image: url(../../img/bg-svg.svg);
  background-size: cover;
  min-height: 100vh;
}

body main .main_container {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 80px 0 0 0;
  min-height: 100vh;
}

body main .main_container > h1 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

body main .main_container > p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

body main .main_container section.contact_us {
  position: absolute;
  left: 0;
}
/*# sourceMappingURL=page.css.map */